- name: Install Ambari Server
  yum:
    name: ambari-server
    state: installed
  ignore_errors: true
  
- name: Setup Ambari Server
  shell: |
    ambari-server setup -s
    
- name: Start Ambari Server
  service:
    name: ambari-server
    state: started
  ignore_errors: true
  
- name: Setup Ambari Server
  shell: |
    ambari-server setup --jdbc-db=postgres --jdbc-driver=/usr/lib/ambari-server/postgresql-42.2.2.jar
  
- name: Ensure Ambari Server starts during System Startup
  service:
    name: ambari-server
    enabled: yes

- name: copy the postgresql to location
  copy: src=pg_hba.conf dest=/var/lib/pgsql/data/pg_hba.conf
  
- name: ensure packages are installed
  yum:
    name: "{{ packages }}"
  vars:
    packages:
      - python-psycopg2

- name: "copy psql.sh into temp psql"
  become: yes
  copy: src=psql.sh dest=/tmp/psql.sh

- name: "create the databases for ranger,oozie,hive"
  became: yes
  shell: |
     sh /tmp/psql.sh

- name: ensure database is created
  postgresql_db: name={{hive_dbname}}

- name: ensure user has access to database
  postgresql_user: db={{hive_dbname}} name={{hive_dbuser}} password={{hive_passwd}} priv=ALL
    
- name: ensure database is created
  postgresql_db: name={{oozie_dbname}}

- name: ensure user has access to database
  postgresql_user: db={{oozie_dbname}} name={{oozie_dbuser}} password={{oozie_passwd}} priv=ALL
    
- name: ensure database is created
  postgresql_db: name={{ranger_dbname}}

- name: ensure user has access to database
  postgresql_user: db={{ranger_dbname}} name={{ranger_dbuser}} password={{ranger_passwd}} priv=ALL
    
- name: ensure database is created
  postgresql_db: name={{rangerkms_dbname}}

- name: ensure user has access to database
  postgresql_user: db={{rangerkms_dbname}} name={{rangerkms_dbuser}} password={{rangerkms_passwd}} priv=ALL
